.container-styles {
    top: 180px;
}

.padding {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.link-underline {
    color: #337ab7;
    text-decoration: underline;
}

.error {
    color: red;
    position: relative;
    left: 50px;
}

.loginBtn {
    float: right;
    width: 120px;
    color: white;
    background: #5595db;
    border: none;
}

.login {
    margin-top: 74px;
}

.border-none {
    border: none;
}